/*
* {
  box-sizing: border-box;
}

#name {
  text-align: left;
}

h1 {
  color: #FF7F50;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FCEFEF
  text-align: center;
  margin: 0;

}

.menu {
  float: left;
  width: 20%;
  text-align: center;
  background-color: #E5F4E3;
  height: 30vh;
}

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu a {
  background-color: #E5F4E3;
  padding: 8px;
  margin-top: 7px;
  display: block;
  color: black;
}

.main {
  float: left;
  width: 50%;
  height: 40vh;
  padding: 0 20px;
  text-align: center;
  color: #40E0D0;
  margin: 0 5%;
}

.right {
  background-color: #FF7F50;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
  color: #000000;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7FD8BE;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a.active {
  background-color: #FF7F50;
  color: #000;
}

h2 {
  text-align: center;
  color: #E30022
}

.parallax1 {
  background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fHw%3D");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Ensure the background covers the element 
  text-align: center;
}

.Chess {
  font-size: 40px;
  font-weight: bold;
  color: #E5F4E3;
}

#quote {
  color: #E30022
  position: relative;
  right: 40%;
}

.head2 {
  color: #FCCB06;
  text-align: center;
}

a {
  text-decoration: none;
  color: #B1DDF1;
}

/* Media Queries for Responsiveness 
@media (max-width: 1024px) {

  .menu,
  .main,
  .right {
    width: 100%;

    float: none;
  
  }

  .menu {
    height: auto;

  }
}

@media (max-width: 768px) {
  .topnav li {
    float: none;
    /* Stack navbar items vertically 
    width: 100%;
    /* Full width 
  }

  .menu {
    width: 100%;

  }

  .main {
    margin: 0;

  }

  .right {
    width: 100%;
  
  }

  #quote {
    position: relative;
    left: 5%;
  }
}



.hobbies {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  color: black;
  font-size: 1.2em;
}

.Chess1 {
  color: #3EB489;
  font-size: 1.5em;
}

.Coding {
  color: #00A7FF;
}

.Music {
  color: #FCCB06;
}

.bot {
  width: 80%;
  height: 400px;
}

.noob {
  width: 80%;
  height: 400px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}

.ooh{
  color: #000000;
  background-color: #00A7FF;
  text-align: center;
}

*/

